body{
    background-color: rgb(245, 250, 248);
}
h1{
    text-align: center;
    background: -webkit-linear-gradient(left,rgb(202, 243, 54),rgb(3, 172, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frame{
    text-align: center;
}
#score{
    text-align: center;
    font-size: 10vb;
}