body{
    background-color: rgb(245, 250, 248);
}

h1{
    text-align: center;
    background: -webkit-linear-gradient(left,rgb(202, 243, 54),rgb(3, 172, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selection{
    width: 100px;
    height: 100px;
    background-color: rgb(28, 44, 44);
    border: 1px,black;
    margin: 10px;
}

.box{
    display: flex;
    flex-wrap: wrap;
}

p{
    display:inline;
    
}